<div class="container">
    <div class="row">
      <div class="col-xs-12  col-md-8">
        <!-- Post with featured image -->
  <div class="boxed  sticky  push-down-45">
    <!-- Featured image and meta start -->
    <div class="meta">
      <img class="wp-post-image" src="/assets/img/dummy-licensed/blog-image.jpg" alt="Blog image" width="748" height="324">
      <div class="meta__container">
        <div class="row">
          <div class="col-xs-12  col-sm-8">
            <div class="meta__info">
              <span class="meta__author"><img src="/assets/img/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>
              <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; 6. May, 2014</span>
            </div>
          </div>
          <div class="col-xs-12  col-sm-4">
            <div class="meta__comments">
              <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post.html#disqus_thread"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Featured image and meta end -->
    <div class="sticky__box">
      <span class="sticky__circle"></span>
      <span class="sticky__circle"></span>
      <span class="sticky__circle"></span>
      <span class="sticky__circle"></span>
    </div>
    <!-- Start of the blogpost -->
    <div class="row">
      <div class="col-xs-10  col-xs-offset-1">
        <!-- Start of the content -->
        <div class="post-content--front-page">
          <h2 class="front-page-title"><a href="single-post.html">Sticky Post</a></h2>
          <h3>He had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
        <!-- End of the content -->
        <a href="single-post.html">
    <div class="read-more">
      Continue reading
      <div class="read-more__arrow">
        <span class="glyphicon  glyphicon-chevron-right"></span>
      </div>
    </div>
  </a>
      </div>
    </div>
  </div>
        <!-- Post with video -->
  <div class="boxed  push-down-45">
    <!-- Featured image and meta start -->
    <div class="meta">
      <div class="responsive-embed-video">
        <!-- Embed Vimeo video -->
        <img src="/assets/img/dummy/video-placeholder.jpg" alt="Placeholder" class="vimeo-thumb" data-vimeo-id="79505580" data-width="748" />
        <!-- Embed ends -->
      </div>
      <div class="row">
        <div class="col-xs-12  col-sm-10  col-sm-offset-1">
          <div class="meta__container--without-image">
            <div class="row">
              <div class="col-xs-12  col-sm-8">
                <div class="meta__info">
                  <span class="meta__author"><img src="/assets/img/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>
                  <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; 6. May, 2014</span>
                </div>
              </div>
              <div class="col-xs-12  col-sm-4">
                <div class="meta__comments">
                  <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post-video.html#disqus_thread"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Featured image and meta end -->
    <!-- Start of the blogpost -->
    <div class="row">
      <div class="col-xs-10  col-xs-offset-1">
        <!-- Start of the content -->
        <div class="post-content--front-page">
          <h2 class="front-page-title"><a href="single-post-video.html">Post with video</a></h2>
          <h3>She had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
        <!-- End of the content -->
        <a href="single-post.html">
    <div class="read-more">
      Continue reading
      <div class="read-more__arrow">
        <span class="glyphicon  glyphicon-chevron-right"></span>
      </div>
    </div>
  </a>
      </div>
    </div>
  </div>
        <!-- Post with featured image -->
  <div class="boxed  push-down-45">
    <!-- Featured image and meta start -->
    <div class="meta">
      <img class="wp-post-image" src="/assets/img/dummy-licensed/blog-image.jpg" alt="Blog image" width="748" height="324">
      <div class="meta__container">
        <div class="row">
          <div class="col-xs-12  col-sm-8">
            <div class="meta__info">
              <span class="meta__author"><img src="/assets/img/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>
              <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; 6. May, 2014</span>
            </div>
          </div>
          <div class="col-xs-12  col-sm-4">
            <div class="meta__comments">
              <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post.html#disqus_thread"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Featured image and meta end -->
    <!-- Start of the blogpost -->
    <div class="row">
      <div class="col-xs-10  col-xs-offset-1">
        <!-- Start of the content -->
        <div class="post-content--front-page">
          <h2 class="front-page-title"><a href="single-post.html">Marks and devious Semikoli</a></h2>
          <h3>She had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
        <!-- End of the content -->
        <a href="single-post.html">
    <div class="read-more">
      Continue reading
      <div class="read-more__arrow">
        <span class="glyphicon  glyphicon-chevron-right"></span>
      </div>
    </div>
  </a>
      </div>
    </div>
  </div>
        <!-- Post with quote -->
  <div class="boxed  push-down-45">
    <!-- Featured image and meta start -->
    <div class="meta">
      <img class="wp-post-image" src="/assets/img/dummy/blog-image-4.jpg" alt="Blog image" width="748" height="324">
      <q class="meta__quote">
        In order to succeed, your desire for success should be greater than your fear of failure.
      </q>
      <div class="meta__container">
        <div class="row">
          <div class="col-xs-12  col-sm-8">
            <div class="meta__info">
              <span class="meta__author"><img src="/assets/img/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>
              <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; 6. May, 2014</span>
            </div>
          </div>
          <div class="col-xs-12  col-sm-4">
            <div class="meta__comments">
              <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post.html#disqus_thread"></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Featured image and meta end -->
    <!-- Start of the blogpost -->
    <div class="row">
      <div class="col-xs-10  col-xs-offset-1">
        <!-- Start of the content -->
        <div class="post-content--front-page">
          <h2 class="front-page-title"><a href="single-post.html">Post with quote</a></h2>
          <h3>She had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
        <!-- End of the content -->
        <a href="single-post.html">
    <div class="read-more">
      Continue reading
      <div class="read-more__arrow">
        <span class="glyphicon  glyphicon-chevron-right"></span>
      </div>
    </div>
  </a>
      </div>
    </div>
  </div>
        <!-- Post without featured image -->
  <div class="boxed  push-down-45">
    <!-- Meta without image start (Needed for WP theme)-->
    <div class="meta">
      <div class="row">
        <div class="col-xs-12  col-sm-10  col-sm-offset-1">
          <div class="meta__container--without-image">
            <div class="row">
              <div class="col-xs-12  col-sm-8">
                <div class="meta__info">
                  <span class="meta__author"><img src="/assets/img/dummy/about-5.jpg" alt="Meta avatar" width="30" height="30"> <a href="#">Danielle Thatcher</a> in <a href="#">News</a></span>
                  <span class="meta__date"><span class="glyphicon glyphicon-calendar"></span> &nbsp; 3. May, 2014</span>
                </div>
              </div>
              <div class="col-xs-12  col-sm-4">
                <div class="meta__comments">
                  <span class="glyphicon glyphicon-comment"></span> &nbsp; <a href="single-post-without-image.html#disqus_thread"></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Meta without image end -->
    <!-- Start of the blogpost -->
    <div class="row">
      <div class="col-xs-10  col-xs-offset-1">
        <!-- Start of the content -->
        <div class="post-content--front-page">
          <h2 class="front-page-title"><a href="single-post-without-image.html">Post without featured image</a></h2>
          <h3>She had a last view back on the skyline of her hometown Bookmarksgrove. (H3)</h3>
          <p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
        </div>
        <!-- End of the content -->
        <a href="single-post.html">
    <div class="read-more">
      Continue reading
      <div class="read-more__arrow">
        <span class="glyphicon  glyphicon-chevron-right"></span>
      </div>
    </div>
  </a>
      </div>
    </div>
  </div>
      </div>
      <div class="col-xs-12  col-md-4">
        
          <!-- Widget author -->
  <div class="widget-author  boxed  push-down-30">
    <div class="widget-author__image-container">
      <div class="widget-author__avatar--blurred">
        <img src="/assets/img/dummy/about-1.jpg" alt="Avatar image" width="90" height="90">
      </div>
      <img class="widget-author__avatar" src="/assets/img/dummy/about-1.jpg" alt="Avatar image" width="90" height="90">
    </div>
    <div class="row">
      <div class="col-xs-10  col-xs-offset-1">
        <h4>Timothy Miler</h4>
        <p>User Interface Designer, Amateurish Poker Player and Imaginary Breakdancer ...</p>
      </div>
    </div>
  </div>
        
        <div class="sidebar  boxed  push-down-30">
          <div class="row">
            <div class="col-xs-10  col-xs-offset-1">
              <!-- Widget categories -->
  <div class="widget-categories  push-down-30">
    <h6>Categories</h6>
    <ul>
      <li><a href="#">Technology &nbsp;<span class="widget-categories__text">(16)</span></a></li>
      <li><a href="#">User Interface design &nbsp;<span class="widget-categories__text">(13)</span></a></li>
      <li><a href="#">User Experience &nbsp;<span class="widget-categories__text">(9)</span></a></li>
      <li><a href="#">Startups &nbsp;<span class="widget-categories__text">(23)</span></a></li>
      <li><a href="#">Reading &amp; Books &nbsp;<span class="widget-categories__text">(3)</span></a></li>
    </ul>
  </div>
              <!-- Widget featured post -->
  <div class="widget-featured-post  push-down-30">
    <h6>Featured post</h6>
    <img src="/assets/img/dummy-licensed/blog-image.jpg" alt="Featured post" width="293" height="127">
    <h4><a href="single-post.html">Featured Author Post</a></h4>
    <p>Why ProteusThemes products is so much better than lorem everyone else's.</p>
  </div>
              <!-- Widget Facebook -->
  <div class="widget-facebook  push-down-30">
    <h6>Facebook</h6>
    <div id="likebox-wrapper">
      <!--[if IE]>
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fproteusthemes&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false&amp;appId=685180284845706"
          allowTransparency="true">
        </iframe>
      <![endif]-->
      <!--[if !IE]>-->
        <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fproteusthemes&amp;width&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=false&amp;appId=685180284845706">
        </iframe>
      <!--<![endif]-->
    </div>
  </div>
              <!-- Widget posts -->
  <div class="widget-posts  push-down-30">
    <h6>Popular / Recent</h6>
    <!-- Nav tabs -->
    <ul class="nav  nav-tabs">
      <li class="active"><a href="#recent-posts" data-toggle="tab"><span class="glyphicon  glyphicon-time"></span> &nbsp;Recent Posts</a></li>
      <li><a href="#popular-posts" data-toggle="tab"><span class="glyphicon  glyphicon-flash"></span> &nbsp;Popular Posts</a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
      <div class="tab-pane  fade  in  active" id="recent-posts">
        <div class="push-down-15">
          <img src="/assets/img/dummy-licensed/blog-image-small.jpg" alt="Posts">
          <h5><a href="single-post.html">This is a showcase of the most recent posts</a></h5>
          <span class="widget-posts__time">19 hours ago</span>
        </div>
        <div class="push-down-15">
          <img src="/assets/img/dummy-licensed/blog-image-3-small.jpg" alt="Posts">
          <h5><a href="single-post.html">This is a showcase of the most recent posts</a></h5>
          <span class="widget-posts__time">19 hours ago</span>
        </div>
        <div class="push-down-15">
          <img src="/assets/img/dummy-licensed/blog-image-small.jpg" alt="Posts">
          <h5><a href="single-post.html">This is a showcase of the most recent posts</a></h5>
          <span class="widget-posts__time">19 hours ago</span>
        </div>
      </div>
      <div class="tab-pane  fade" id="popular-posts">
        <div class="push-down-15">
          <img src="/assets/img/dummy-licensed/blog-image-3-small.jpg" alt="Posts">
          <h5><a href="single-post.html">This is a showcase of the most popular posts</a></h5>
          <span class="widget-posts__time">9 hours ago</span>
        </div>
        <div class="push-down-15">
          <img src="/assets/img/dummy-licensed/blog-image-small.jpg" alt="Posts">
          <h5><a href="single-post.html">This is a showcase of the most popular posts</a></h5>
          <span class="widget-posts__time">12 hours ago</span>
        </div>
        <div class="push-down-15">
          <img src="/assets/img/dummy-licensed/blog-image-3-small.jpg" alt="Posts">
          <h5><a href="single-post.html">This is a showcase of the most popular posts</a></h5>
          <span class="widget-posts__time">19 hours ago</span>
        </div>
      </div>
    </div>
  </div>
              <div class="tags  widget-tags">
    <h6>Tags</h6>
    <hr>
    <a href="#" class="tags__link">Tech</a>
    <a href="#" class="tags__link">Web</a>
    <a href="#" class="tags__link">UI/UX</a>
    <a href="#" class="tags__link">Tutorials</a>
    <a href="#" class="tags__link">Workflow</a>
  </div>
              <!-- Widget Twitter -->
  <div class="widget-twitter  push-down-30">
    <h6>Twitter</h6>
    <a class="twitter-timeline" href="https://twitter.com/ProteusNetCom" data-widget-id="452057937674915840">Tweets by @ProteusNetCom</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
              <div class="widget-recent-comments  push-down-30">
    <h6>Recent Comments</h6>
    <ul>
      <li>
        Mihael on <a href="single-post.html#comments">ProteusThemes and its products are great</a><br/>
      </li>
      <li>
        Jaka on <a href="single-post.html#comments">Readable is most readable WordPress theme out there</a>
      </li>
      <li>
        Mihael on <a href="single-post.html#comments">Everybody loves Readable</a>
      </li>
    </ul>
  </div>
              
              <div class="social-icons  widget-social-icons  push-down-30">
    <h6>Social Icons</h6>
    <a href="#" class="social-icons__container"><span class="zocial-facebook"></span></a>
    <a href="#" class="social-icons__container"><span class="zocial-twitter"></span></a>
    <a href="#" class="social-icons__container"><span class="zocial-skype"></span></a>
    <a href="#" class="social-icons__container"><span class="zocial-youtube"></span></a>
    <a href="#" class="social-icons__container"><span class="zocial-reddit"></span></a>
    <a href="#" class="social-icons__container"><span class="zocial-wordpress"></span></a>
    <a href="#" class="social-icons__container"><span class="zocial-bitbucket"></span></a>
    <a href="#" class="social-icons__container"><span class="zocial-github"></span></a>
    <a href="#" class="social-icons__container"><span class="zocial-html5"></span></a>
    <a href="#" class="social-icons__container"><span class="zocial-meetup"></span></a>
  </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>